name: Type check terms

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
    
jobs:
  # This workflow contains a single job called "build"
  fm-type-check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Install dependency
    - name: Install formality-lang
      run: |
        cd app
        npm i formality-lang
        
    - name: Check terms
      run: |
        cd ../lib
        node ../app/node_modules/formality-lang/bin/fm.js --github
        

